
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background: #F0F8EA;
  font-family: 'Quicksand', sans-serif;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: min(1100px,80%);
    margin: 0 auto;
    align-items:center;
}

.site {
  list-style: none;
  display: flex;
}
.site a {
  padding: 0px 10px; 
}

header {
    position: relative;
    height: 100vh;
    background-color: #ffffff;
    background-image: linear-gradient(hsla(0, 0%, 97%, .9), #9B8055);
}

header::after {
  display: block;
}
.site-nav {
  position: absolute;
  top: 0%;       /* top orignally at 100% */ 
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);      
  transition: clip-path ease-in-out 700ms;
  height: 0px;
  overflow: hidden;
}

.site-nav--open {
  clip-path: circle(500% at top right);
  height: 100vh;
  width: 100vw;
}

.site-nav ul {
  list-style:none;
  height: 100%;
   flex-direction: row; 
   justify-content: space-between;
}
.site-nav li {
  border-bottom: 1px solid #575766;
  
}

.site-nav li:last-child {
  border-bottom: none;
}




.site-nav--open li{
   opacity: 0;
    animation: fadeIn ease-out 800ms forwards;
} 
.site-nav--open li:nth-child(1) { animation-delay: 0ms; }
.site-nav--open li:nth-child(2) { animation-delay: 100ms; }
.site-nav--open li:nth-child(3) { animation-delay: 200ms; }
.site-nav--open li:nth-child(4) { animation-delay: 300ms; }


@keyframes fadeIn {
    0% {   opacity: 0; transform: translateX(100px); }
   100% { opacity: 1; transform:  translateX(0%);   }
}

.site-nav--closed li{
  opacity: 1;
  animation: fadeIn ease-out 800ms forwards;
} 

.site-nav--open li:nth-child(4) { animation-delay: 200ms; }
.site-nav--open li:nth-child(3) { animation-delay: 300ms; }
.site-nav--open li:nth-child(2) { animation-delay: 400ms; }
.site-nav--open li:nth-child(1) { animation-delay: 500ms; }

@keyframes fadeOut {
  0% {   opacity: 1; transform: translateX(0%); }
 100% { opacity: 0; transform:  translateX(500px);   }
}

.site-nav a {
  color: #9B8055;
  display: flex;
  padding: 3.5em 8em;
  text-decoration: none;
  
}

/* adding something new */
/* .site-nav a{
  background: #464655;
  color: #ebedeb;
  display: block;
  text-decoration: none;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 125ms linear;
} */



.site-nav a:hover,
.site-nav a:focus {
  background: #9B8055;
  color: #464655;
}

.site-nav--icon {
  /* display: flex; */
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {

  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #9B8055;
  transform: translateY(-8.5px);
   height: 3px;
   width: 1.75em; 
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(13px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(540deg);
}


.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* Desktop view */

@media (min-width: 700px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  .site-nav ul{
    display: flex;
  }
  
  .site-nav li {
    border: none;
  }
  
  .site-nav a {
     padding: 0; 
    margin-left: 3em; 
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}
